<html>
    <head>
        <% include partials/head.ejs %>

        <style>
            body { padding-top: 60px; padding-bottom: 30px; }
            td	{	text-align: center;}
            th	{	text-align: center;}
        </style>
    </head>
    <body>
        <div class="row">
            <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="container-fluid">
                            <table class="table table-striped">

                                <thead>
                                <tr>
                                    <th>Quiz</th>
                                    <th>Status</th>
                                    <th>Link to take Quiz</th>
                                </tr>
                                </thead>

                                <tbody>
                                <%var entries = JSON.parse(quizzesNotTaken)%>
                                <% entries.forEach((entry)=> {%>
                                <tr>

                                    <td><%= entry.quiz_name%></td>
                                    <td><span class="bg-info">Quiz Not Taken</span></td>
                                    <td><a href="/takeQuiz/<%=entry._id%>/student_id/<%=currentUser.id%>">Take Quiz</a></td>
                                </tr>
                                <%})%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="container-fluid">

                            <table class="table table-striped">

                                <thead>
                                <tr>
                                    <th>Quiz</th>
                                    <th>Quiz Taken On</th>
                                    <th>Status</th>

                                </tr>
                                </thead>

                                <tbody>
                                <%var entries = JSON.parse(quizzesTaken)%>
                                <%entries.forEach((entry)=>{%>
                                <tr>

                                    <td><%= entry.quiz_name%></td>
                                    <td><%=entry.timestamp%></td>
                                    <td><span class="bg-success">Quiz Completed</span></td>

                                </tr>
                                <%})%>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            <div class="col-sm-1"></div>
        </div>
    </body>
</html>