<html>
	<head>
		<% include partials/head.ejs %>
	<style>
		body { padding-top: 60px; padding-bottom: 30px; }
		td	{	text-align: center;}
		th	{	text-align: center;}
	</style>
	</head>
	<body>
		<div class="row">
			<div class="col-sm-1"></div>
        	<div class="col-sm-5">
        
        		<form method="post" action="/addStudents/<%=class_id%>">
        			<div class="form-group">
						<label for="addStudents">Enter gmail id of students you want to add to this class:</label>
						<textarea class="form-control" rows="10"  name="stud_id" required></textarea>
					</div>
        			<input type="submit" class="btn btn-success" value="Submit"> 
        		</form>
        	
      		</div>
      		<div class="col-sm-5">
				<div class="panel panel-default">
        		<%if(classEntry){%>
        		<%var entry = JSON.parse(classEntry)%>


        		<table class="table table-striped">
        			<thead>
        				<tr>
        					<th>Enrolled Students</th>
							<th>Remove</th>
        				</tr>
        			</thead>
        			<tbody>
							<%var students = entry.student_ids%>
        					<% students.forEach((stud) => {%>
								<tr>

									<% if(stud.fullname){%>
										<td><%= stud.fullname%></td>

									<%}else{%>
										<td><%= stud.email%></td>

									<%}%>
										<td>
											<a href="/classSettings/<%=class_id%>/<%=stud._id%>">
												<span class="glyphicon glyphicon-remove" >
											</a>
										</td>
								</tr>


        					<%})%>

								<!-- </form> -->
        					
        			</tbody>
        		</table>
        		<%}%>
				</div>
        	</div> 
        	<div class="col-sm-1">
        	<a href="/classes">Back</a>
        	</div>
    	</div>
	</body>
</html>
