<html>
	<head>
		<% include partials/head.ejs %>
	<style>
		body { padding-top: 60px; padding-bottom: 30px; }
	</style>
	</head>
	<body>
		<div class="row">
			<div class="col-sm-1"></div>
        	<div class="col-sm-5">
        
        		<form method="post" action="/addStudents/<%=id%>">
        			<div class="form-group">
						<label for="addStudents">Enter email id of students you want to add to this class:</label>
						<textarea class="form-control" rows="10"  name="stud_id"></textarea>
					</div>
        			<input type="submit" class="btn btn-success" value="Submit"> 
        		</form>
        	
      		</div>
      		<div class="col-sm-5">
        		<%if(entries){%>
        		<%var entry = JSON.parse(entries)%>
        		<table class="table table-striped">
        			<thead>
        				<tr>
        					<th>Enrolled Students</th>
        				</tr>
        			</thead>
        			<tbody>
        					<%if(entry.student_ids.length == 1){%>
        					<% var studId = entry.student_ids%>
        						
        						<%console.log(studId[0].email);%>
								<form method="get" action="/classSettings/<%=id%>/<%= studId[0]._id%>">
        						<tr>
								
        						<% if(studId[0].fullname){%>
        						<td><%= studId[0].fullname%></td>
        						
        						<%}else{%>
        						<td><%= studId[0].email%></td>
        						
        						<%}%>
        						<td><button type="submit" class="glyphicon glyphicon-remove" ></button></td>
								</tr>
								</form>
        					<%}else{%>
        						<%var studIDS = JSON.stringify(entry.student_ids)%>
        					<%var studId = JSON.parse(studIDS)%>
        					<% studId.forEach((stud)=> {%>
        				
        					<!-- <form method="get" action="/classSettings/<%=id%>/<%=stud._id%>"> -->
        					<tr>
        						
        						<% if(stud.fullname){%>
        							<td><%= stud.fullname%></td>
        							
        						<%}else{%>
        						<td><%= stud.email%></td>
        						
        						<%}%>
        						<td><a href="/classSettings/<%=id%>/<%=stud._id%>"><span class="glyphicon glyphicon-remove" ></a></td>
        					</tr>
        					<%})%>
								<!-- </form> -->
        					<%}%>
        					
        			</tbody>
        		</table>
        		<%}%>
        	</div> 
        	<div class="col-sm-1">
        	<a href="/classes">Back</a>
        	</div>
    	</div>
	</body>
</html>
