<html>
    <head>
        <% include partials/head.ejs %>
        <% include js/nestedQuestions.ejs %>

        <script>
            $( function() {
                $( "#accordion" ).accordion({
                    heightStyle: "content"
                });
            } );

            $( ".selector" ).accordion({
                collapsible: true,
                active: 1
            });


            $(document).ready(function(){
                $("#askWell").hide();
            });
            $(document).ready(function(){
                $("#ask").click(function(){
                    $("#askWell").toggle();
                });
            });
            $(document).ready(function(){
                $(".ansForm").hide();
            });
            $(document).ready(function(){
                $(".ansbtn").click(function(e){
                    /*$("#ansForm").toggle();*/
                    $(e.currentTarget).next().toggle();
                });
            });
            $(document).ready(function(){
                $(".replyForm").hide();
            });
            $(document).ready(function(){
                $(".replybtn").click(function(e){
                    $(e.currentTarget).next().toggle();
                });
            });
        </script>
        <style>
            body { padding-top: 60px; padding-bottom: 30px; }
            .pad-5 { padding: 5px}
            hr {
                -moz-border-bottom-colors: none;
                -moz-border-image: none;
                -moz-border-left-colors: none;
                -moz-border-right-colors: none;
                -moz-border-top-colors: none;
                border-color: #EEEEEE -moz-use-text-color #FFFFFF;
                border-style: solid none;
                border-width: 1px 0;
                margin: 18px 0;
            }
            #accordion{font-size: 16px;}
            #accordion.ui-accordion .ui-accordion-header.ui-state-active { background: #007acc; }
        </style>
    </head>
    <body>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="container-fluid">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3>Discussion Board
                                <button  id="ask" class="btn btn-default pull-right"><span class="glyphicon glyphicon-question-sign">Ask</span></button>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="askWell" class="well">
                                <form method="post" action="/classes/<%=class_id%>/discussion/<%=discussion_id%>">
                                    <div class="form-group">
                                        <label for="topic">Topic:</label>
                                        <input type="text" class="form-control" id="topic" name="topic">
                                        <label for="que">Question:</label>
                                        <textarea class="form-control" rows="2" id="que" name="que"></textarea><br>
                                        <button type="submit" class="btn btn-success pull-right"  name="ask" value="Ask">
                                            <span class="glyphicon glyphicon-question-sign">Ask</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>Questions:</h4>
                                </div>
                                <div class="panel-body">
                                    <div id="accordion">
                                        <%if(entries){%>
                                        <% entries.forEach((entry,index)=>{%>

                                        <div class="title">
                                            <span class="label label-default pull-right"> <%=entry.topic%> </span>
                                            &nbsp;#<%= index + 1%> - <%=entry.que_body%>
                                        </div>
                                        <div class="accordion-body">
                                            <div class="well well-lg">
                                                <div class="row text-justify">
                                                    <div class="media">
                                                        <div class="media-left media-top">
                                                            <img src="<%=entry.profile_img%>" class="media-object" style="width:45px">
                                                        </div>
                                                        <div class="media-body">
                                                            <h6 class="media-heading"><%=entry.fullname%> &nbsp; <small><i> Posted on <%=entry.timeStamp%></i></small>
                                                            </h6>
                                                            <%=entry.que_body%>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="well well-lg">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <b>Answers:</b> &nbsp;
                                                        <button  class="ansbtn btn btn-success btn-xs pad-5" >
                                                            Add <span class="glyphicon glyphicon-plus"></span>
                                                        </button>
                                                        <div class="ansForm form-group">
                                                            <form method="post" action="/classes/<%=class_id%>/discussion/<%=discussion_id%>/que/<%=entry._id%>">
                                                                <h6><label for="que">Your Answer:</label></h6>
                                                                <div class="pad-5">
                                                                    <textarea class="form-control" rows="2" name="ansBody"></textarea>
                                                                </div>
                                                                <button type="submit" class="btn btn-success btn-xs pull-right" >Post Answer</button>
                                                            </form>
                                                            <br/>
                                                        </div>
                                                    </div>
                                                    <br/><br/><br/>
                                                </div>

                                                   <!-- <div class="row text-justify">-->


                                                <% if (entry.answers_level1) { %>
                                                    <%- init(entry.answers_level1, class_id, discussion_id, entry);%>
                                                <% } %>




                                            </div>
                                        </div>

                                        <%})%>
                                        <%}%>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </body>
</html>





