<html>
  <head>
    <% include partials/head.ejs %>
     <script>
		$( function() {
			$( "#accordion" ).accordion({
				heightStyle: "content"
			});
	  	} );
        $(document).ready(function(){
            $("#askWell").hide();
		});
        $(document).ready(function(){
            $("#ask").click(function(){
                $("#askWell").toggle();
            });
        });
        $(document).ready(function(){
            $("#ansForm").hide();
        });
        $(document).ready(function(){
            $("#ansbtn").click(function(){
                $("#ansForm").toggle();
            });
        });
        $(document).ready(function(){
            $("#replyForm").hide();
        });
        $(document).ready(function(){
            $("#replybtn").click(function(){
                $("#replyForm").toggle();
            });
        });
  	</script>
   <style>  
   		body { padding-top: 60px; padding-bottom: 30px; }
         #accordion{font-size: 16px;}
         #accordion.ui-accordion .ui-accordion-header.ui-state-active { background: #007acc; }
      </style>  
   
  </head>
  <body>
  	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="container-fluid">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3>Discussion Board
							<button  id="ask" class="btn btn-default pull-right"><span class="glyphicon glyphicon-question-sign">Ask</span></button>
						</h3>
					</div>
					<div class="panel-body">
						<div id="askWell" class="well">
						<form method="post" action="/classes/<%=class_id%>/discussion/<%=discussion_id%>">
          							<div class="form-group">
  										<label for="topic">Topic:</label>
  										<input type="text" class="form-control" id="topic" name="topic">
  										<label for="que">Question:</label>
  										<textarea class="form-control" rows="2" id="que" name="que"></textarea><br>
										<button type="submit" class="btn btn-success pull-right"  name="ask" value="Ask"><span class="glyphicon glyphicon-question-sign">Ask</span></button>
        							</div>
						</form>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
							<h4>Questions:</h4>
							</div>
							<div class="panel-body">
  					 			<div id="accordion">
  								<%if(entries){%>
	   							<%var entries = JSON.parse(entries)%>
	   							<%entries.forEach((entry) =>{%>
	   							<h5>
									<span class="label label-default"> <%=entry.topic%> </span>
								&nbsp; &nbsp;	<%=entry.que_body%>
								</h5>
	   							<div>
	   								<div class="well well-lg"> 
										<div class="row text-justify">
											<div class="media">
												<div class="media-left media-top">
												<img src="<%=entry.profile_img%>" class="media-object" style="width:45px">
												</div>
												<div class="media-body">
													<h6 class="media-heading"><%=entry.fullname%> &nbsp; <small><i> Posted on <%=entry.timeStamp%></i></small>
													</h6>
													<%=entry.que_body%>
													<button id="ansbtn" class="btn btn-default btn-sm pull-right" ><span class="glyphicon glyphicon-pencil">Answer</span></button>

												</div>
											</div>
									 
											<div id="ansForm" class="form-group">
  												<form method="post" action="/classes/<%=class_id%>/discussion/<%=discussion_id%>/que/<%=entry._id%>">
  												<h6><label for="que">Your Answer:</label></h6>
  												<textarea class="form-control" rows="2" name="ansBody"></textarea><br>
        										<button type="submit" class="btn btn-success btn-xs pull-right" >Post Answer</button></form>

											</div>
										</div>
									</div>
									<%if(entry.answers_level1){%>
									<%var ansLevel1 = entry.answers_level1%>
									<%ansLevel1.forEach((ans) =>{%>
									<div class="row text-justify">
										<div class="media">
											<div class="media-left media-top">
												<img src="<%=ans.profile_img%>" class="media-object" style="width:45px">
											</div>
											<div class="media-body">
												<h6 class="media-heading"><%=ans.fullname%> &nbsp; <small><i> Posted on <%=ans.timeStamp%></i></small>
												</h6>
                                                <%=ans.ans_body%>
												<%if(template == 'Nested'){%>
													<button id="replybtn" class="btn btn-default pull-right" ><span class="glyphicon glyphicon-comment">Reply</span></button>
														<div id="replyForm" class="form-group">
															<form method="post" action="/classes/<%=class_id%>/discussion/<%=discussion_id%>/que/<%=ans.que_id%>/ans/<%=ans._id%>">
															<h6><label for="que">Your Reply:</label></h6>
																<textarea class="form-control" rows="2" name="replyBody"></textarea>
															<!--<a href="/classes/<%=class_id%>/discussion/<%=discussion_id%>/que/<%=ans.que_id%>/ans/<%=ans._id%>">-->
																<button type="submit" class="btn btn-success pull-right" ><span class="glyphicon glyphicon-comment ">Reply</span></button>
															</form>
														</div>

														<br><%=JSON.stringify(ans.replies)%>
												<%}%>



											</div>
										</div>
										<hr>
									</div>
									<%})%>
									<%}%>
								</div>
	   							<%})%>
	   							<%}%>
  						 		</div>
  						 	</div>
	   					</div>
	   				</div>
	   			</div>
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
  </body>
</html>