<html>
  <head>
    <% include partials/head.ejs %>
     <script>
  $( function() {
    $( "#accordion" ).accordion({
    	heightStyle: "content"
    });
  } );
  </script>
   <style>  
   		body { padding-top: 60px; padding-bottom: 30px; }
         #accordion{font-size: 16px;}
         #accordion.ui-accordion .ui-accordion-header.ui-state-active { background: #007acc; }
      </style>  
   
  </head>
  <body>
  	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="container-fluid">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3>Discussion Board
						</h3>
					</div>
					<div class="panel-body">
						<div class="well"> 
						<form method="post" action="/discussion/<%=discussion_id%>">
          							<div class="form-group">
  										<label for="topic">Topic:</label>
  										<input type="text" class="form-control" id="topic" name="topic">
  										<label for="que">Question:</label>
  										<textarea class="form-control" rows="2" id="que" name="que"></textarea>
										<button type="submit" class="btn btn-success"  name="ask" value="Ask"><span class="glyphicon glyphicon-question-sign">Ask</span></button>
        							</div>
						</form>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
							<h4>Questions:</h4>
							</div>
							<div class="panel-body">
  					 		<div id="accordion">
  								<%if(entries){%>
	   							<%var entries = JSON.parse(entries)%>
	   							<%entries.forEach((entry) =>{%>
	   							<h5><span class="label label-default"> <%=entry.topic%> </span>
								&nbsp; &nbsp;<%=entry.que_body%></h5>
	   							<div>
	   								<div class="well well-lg"> 
										<div class="row text-justify">
											<div class="media">
												<div class="media-left media-top">
												<img src="<%=entry.profile_img%>" class="media-object" style="width:45px">
												</div>
											<div class="media-body">
												<h6 class="media-heading"><%=entry.fullname%> &nbsp; <small><i> Posted on <%=entry.timeStamp%></i></small>
												</h6>
												<%=entry.que_body%>
											
											</div>
										
											</div>
									 
											<div class="form-group">
  												<form method="post" action="/discussion/<%=discussion_id%>/<%=entry._id%>">
  												<h6><label for="que">Your Answer:</label></h6>
  												<textarea class="form-control" rows="2" name="ansBody"></textarea>
        										<button type="submit" class="glyphicon glyphicon-pencil pull-right" >Answer</button></form>
        				
											</div>
										</div>
									</div>
								</div>
	   							<%})%>
	   							<%}%>
  						 </div>
  						 </div>
	   				</div>
	   				
	   			</div>	
	   			</div>
			</div>
		</div>
	</div>
  </body>
</html>