<html>
    <head>
        <% include partials/head.ejs %>
        <script>
                $(document).ready(function () {
                    var max_total=0;
                    var total = 0;
                    $(".marks").change(function(){

                        var currentTotalMarks = $(this).parent().parent().find(".totalMarks").val();
                        currentTotalMarks = parseInt(currentTotalMarks);

                        var currentObtainedMarks = $(this).val();
                        currentObtainedMarks = parseInt(currentObtainedMarks);

                        var par = $(this).parent();

                        if(currentObtainedMarks > currentTotalMarks) {
                            $(par).addClass("has-error");
                            alert("Obtained marks cannot be greater than total marks!");
                            event.preventDefault();
                        } else {
                            $(par).removeClass("has-error");
                            total = 0;
                            $(".marks").each(function () {
                                total += Number($(this).val());
                                $("#totalMarksObtd").val(total);
                            });
                        }
                    });

                    $(".totalMarks").each(function () {
                         max_total += Number($(this).val());
                         $("#totalMarks").val(max_total);
                    });

                    $("#evalStudResp").submit(function (event) {
                        var total = 0;
                        var currentTotalMarks = $(this).parent().parent().find(".totalMarks").val();
                        currentTotalMarks = parseInt(currentTotalMarks);

                        var currentObtainedMarks = $(this).val();
                        currentObtainedMarks = parseInt(currentObtainedMarks);

                        var par = $(this).parent();

                        if(currentObtainedMarks > currentTotalMarks) {
                            alert("Obtained marks cannot be greater than total marks!");
                            event.preventDefault();
                        } else {
                            total = 0;

                            $(".marks").each(function () {
                                total += Number($(this).val());
                                $("#totalMarksObtd").val(total);
                            });
                            alert("Final Score: \n Marks Obtained : "+ total +"\n Total Marks : "+ max_total);
                            return;

                        }

                        
                    });


            });
        </script>

        <style>
            body { padding-top: 60px; padding-bottom: 30px; }
        </style>
    </head>
    <body>
        <div class="row">
            <div class="col-sm-1"></div>

                <div class="col-sm-10">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <% var entries = JSON.parse(solvedQuizzes)%>
                            <% entries.forEach((entry)=>{%>
                            <h4>Quiz Response by <%=entry.fullname%></h4>

                        </div>
                        <div class="panel-body">
                            <form method="post" id="evalStudResp" action="/storeScores/quizResp/<%=entry._id%>/quiz_id/<%=entry.quiz_id._id%>/student_id/<%=entry.user_id%>">
                            <%entry.quiz_id.questions.forEach((que,index)=>{%>
                            <h5>
                                <label>
                                        <span class="label label-default">Question # <%=index+1%>:
                                        </span>
                                </label>
                                <%= que.que_body%>
                                <div class="col-xs-2 pull-right">
                                    <div class="form-group">

                                        <label class="control-label">Marks Obtained: </label>
                                        <input type="number" class="marks form-control" name="marks" min = 0 max="<%=entry.quiz_id.marks[index].max_marks%>">
                                    </div>
                                    <div class="form-group">
                                        <label>Out Of: </label>
                                        <input type="number" class="totalMarks form-control" name="max_marks" value="<%=entry.quiz_id.marks[index].max_marks%>" readonly>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="container-fluid">
                                        <%=entry.answers[index].ans_body%>
                                    </div>
                                </div>
                            </h5>

                            <%})%>
                            <hr>


                            <div class="col-xs-5">
                            <label>Final Score:</label>
                               <!-- <input type="button" id="btnTot" value="Calculate Total">-->
                            <br/><input type="number" placeholder="Marks Obtained" id="totalMarksObtd" readonly>&nbsp;/&nbsp;<input type="number" placeholder="Total" id="totalMarks" readonly>
                            </div>
                            <input type="submit" class="btn btn-success pull-right" id="submitBtn" value="Submit Scores">
                            </form>
                        </div>
                    </div>
                </div>
            <%})%>
            <div class="col-sm-1"></div>
        </div>



    </body>
</html>