<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head.ejs%>
     <script>
  $( function() {
    $( "#accordion" ).accordion({
    	heightStyle: "content"
    });
  } );
  </script>
   <style>  
   		body { padding-top: 60px; padding-bottom: 30px; }
         #accordion{font-size: 16px;}
         #accordion.ui-accordion .ui-accordion-header.ui-state-active { background: #007acc; }
      </style>  
   
  </head>
  
  <body>
  	
	<div class="row">
		<div class="col-sm-1">
   
		</div>
		<div class="col-sm-10">
			<div class="container-fluid">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3>Discussion Board
					<button type="button" class="btn btn-default btn-md pull-right" data-toggle="modal" data-target="#questionModal"><span class="glyphicon glyphicon-question-sign">Ask</span></button>
					</h3>
					<div class="modal" id="questionModal" role="dialog" aria-labelledby="questionModalAria">
    					<div class="modal-dialog modal-sm">
      						<div class="modal-content">
        						<div class="modal-header">
          							<button type="button" class="close" data-dismiss="modal">&times;</button>
          							<h5 class="modal-title" id="questionModalAria">Ask a Question</h5>
        						</div>
        						<div class="modal-body">
        							<form method="post" action="/qna">
          							<div class="form-group">
  										<label for="topic">Topic:</label>
  										<input type="text" class="form-control" id="topic" name="topic">
  										<label for="que">Question:</label>
  										<textarea class="form-control" rows="5" id="que" name="que"></textarea>
									</div>
  									
        						</div>
        						<div class="modal-footer">
          							<input type="submit" class="btn btn-success"  name="ask" value="Ask">
        						</div>
									</form>	
      						</div>
    					</div>
  					</div>
	   	
				</div>
				
				<div class="panel-body">  
					<div id="accordion">
						<% var entries = JSON.parse(entries) %>
						<% entries.forEach((entry) => { %> 
  						
						<h3   class="text-justify"><span class="label label-default"> <%=entry.topic%> </span>
							&nbsp; &nbsp;<%=entry.question%>
													
	  				
						</h3>
						<div>
							<!-- <div class="well well-lg">  -->
								<div class="row text-justify">
									<div class="media">
										<div class="media-left media-top">
											<img src="/img_avatar1.png" class="media-object" style="width:45px">
										</div>
										<div class="media-body">
											<h6 class="media-heading"><%=entry.username%> <small><i> Posted on <%=entry.quetimestamp%></i></small>
											<button type="button"  class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#answerModal">
											<span class="glyphicon glyphicon-pencil">Answer</span></button></h6>
											<%=entry.question%> 
											
											<!--Answer Modal-->
											<div class="modal" id="answerModal" role="dialog" aria-labelledby="ansMod">
												<div class="modal-dialog modal-lg">
													<div class="modal-content">
														<div class="modal-header">
														<h5 class="modal-title" id="ansMod"><%=entry.question%>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
														</h5>
														</div>
														<div class="modal-body">
														<form class="answerForm" method="post" action="/qnaAns">
															<div class="form-group">
															<label for="ans">Your Answer:</label>
															<textarea class="form-control" rows="5" id="ans" name="ansBody"></textarea>
															</div>
  										
														</div>
														<div class="modal-footer">
															<input type="hidden" name="entryID" value="<%= entry.id%>">
															<input type="submit" data-que="0" class="anspost btn btn-success" name="answer" value="Post">
														</div>
														</form>
													</div>
												</div>
											</div>
  										<!--Answer modal Ends-->
											</div>
										
									</div>
      			    
								</div>
								
							<!-- </div> -->
						
						
						
							<%var ans = JSON.stringify(entry.answers)%>
							<%var ans1 = JSON.parse(ans)%>
							<% ans1.forEach((ans2) => { %> 
							<div class="row text-justify">
								<div class="media">
									<div class="media-left media-top">
										<img src="/img_avatar1.png" class="media-object" style="width:45px">
									</div>
									<div class="media-body">
										<h6 class="media-heading"><%=ans2.username%> <small><i> Posted on February 19, 2016</i></small></h6>
    									<%= ans2.body%> 
									</div>
								</div>
      			    
							</div>
							
							<div class="row text-right">
								<form action="/qna" method="post">
								<h6><button type="button" class="btn btn-success btn-xs" value="Approve"><span class="glyphicon glyphicon-ok-sign">Approve</span></button></h6>
								</form>
							
							</div>
							
       				
       				<% }) %>
       				
       					</div>
	  			
	   			<% }) %>
	   			
					</div>
		 
				</div>
	
			</div>
		</div>     
		<div class="col-sm-1">
   
		</div>
   		</div>
	</div>
   
</body>

</html>