<html>
    <head>
    <% include partials/head.ejs %>

    <script>
        $(document).ready(function(){

            var counter = 2;

            $("#addBtn").click(function () {

                if(counter>10){
                    alert("Only 10 textboxes allow");
                    return false;
                }

                var newTextBoxDiv = $(document.createElement('div'))
                    .attr("id", 'TextBoxDiv' + counter);

                newTextBoxDiv.after().html('<label>Question # '+ counter + ' : </label>' +'&nbsp;'+
                    '<input type="text" name="textbox' + counter +
                    '" id="textbox' + counter + '" value="" >');

                //newTextBoxDiv.appendTo("#TextBoxDiv1");

                newTextBoxDiv.appendTo(".TextBoxesGroup");


                counter++;
            });

            $("#removeBtn").click(function () {
                if(counter==1){
                    alert("No more textbox to remove");
                    return false;
                }

                counter--;

                $("#TextBoxDiv" + counter).remove();

            });

            $("#getAllQues").submit(function () {

                var msg = '';
                for(i=1; i<counter; i++){
                    msg +=  $('#textbox' + i).val();
                }
                alert(msg);
                //$('#quizForm').append($(msg));
                //return msg;

            });
        });
    </script>
    <style>
        body { padding-top: 60px; padding-bottom: 30px; }
    </style>

</head>
    <body>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    Create New Quiz
                </div>
                <div class="panel panel-body">
                    <div class="form-group">
                        <form id="quizForm" action="/createQuiz/class_id/<%=class_id%>" method="post">

                            <div class='TextBoxesGroup'>
                                <div id="TextBoxDiv1">
                                    <label>Enter Questions : </label>&nbsp;
                                    <br/><label>Question # 1: &nbsp;</label><input type="textarea" rows="2" name="textbox1" ></input>
                                </div>
                            </div>
                            <input type='button' class="btn btn-default" value='Add a Question' id='addBtn'>
                            <input type='button' class="btn btn-default" value='Remove Last Question' id='removeBtn'>
                            <input type='submit' class="btn btn-success" value='Create Quiz' id='getAllQues'>
                        </form>
                    </div>
                </div>
            </div>
        </div>






        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="container-fluid">

                    <table class="table table-striped">

                        <thead>
                        <tr>
                            <th>Quiz ID</th>
                            <th>Created On</th>

                            <!--<th>Edit Quiz</th>-->
                            <th>Delete Quiz</th>
                        </tr>
                        </thead>

                        <tbody>
                        <%var entries = JSON.parse(quizzes)%>
                        <% entries.forEach((entry)=> {%>
                        <tr>

                            <td><%= entry._id%></td>
                            <td><%=entry.timestamp%></td>

                            <!--<td><span class="bg-primary">Quiz Not Taken</span></td>
                            <td><a href="/takeQuiz/<%=entry._id%>/student_id/<%=currentUser.id%>">Take Quiz</a></td>-->
                            <!--<td><button class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></button></td>-->
                            <td><button class="btn btn-danger btn-xs glyphicon glyphicon-trash"></button></td>

                        </tr>
                        <%})%>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>

    </body>
</html>