<html>
    <head>
    <% include partials/head.ejs %>

    <script>
        $(document).ready(function(){

            var counter = 2;

            $("#addBtn").click(function () {

                if(counter>10){
                    alert("Only 10 textboxes allow");
                    return false;
                }

                var newTextBoxDiv = $(document.createElement('div'))
                    .attr("id", 'TextBoxDiv' + counter);

                newTextBoxDiv.after().html('<label>Question # '+ counter + ' : </label>' +'&nbsp;'+
                    '<input type="text" name="textbox' + counter +
                    '" id="textbox' + counter + '" value="" required>'+
                    '<br/><label>Total Marks : </label>' +'&nbsp;&nbsp;&nbsp;'+
                    '<input type="text" name="markbox' + counter +
                    '" id="markbox' + counter + '" value="" required>');

                //newTextBoxDiv.appendTo("#TextBoxDiv1");

                newTextBoxDiv.appendTo(".TextBoxesGroup");


                counter++;
            });

            $("#removeBtn").click(function () {
                if(counter==1){
                    alert("No more textbox to remove");
                    return false;
                }

                counter--;

                $("#TextBoxDiv" + counter).remove();

            });

            $("#getAllQues").submit(function () {

                var msg = '';
                for(i=1; i<counter; i++){
                    msg +=  $('#textbox' + i).val();
                }

            });
        });
    </script>
    <style>
        body { padding-top: 60px; padding-bottom: 30px; }
        td	{	text-align: center;}
        th	{	text-align: center;}
    </style>

</head>
    <body>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Create New Quiz
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <form id="quizForm" action="/createQuiz/class_id/<%=class_id%>" method="post">
                            <label>Quiz Name:</label>
                            <input type="textbox" class="form-group"  name="quiz_name" required>

                            <div class='TextBoxesGroup'>
                                <div id="TextBoxDiv1">
                                    <label>Enter Questions : </label>&nbsp;
                                    <br/><label>Question # 1: &nbsp;</label><input type="textarea" rows="2" name="textbox1" required></input>
                                    <br/><label>Total Marks :  </label>  &nbsp;&nbsp;<input type="textbox"  name="markbox1" required></input>
                                </div>
                            </div>
                            <input type='button' class="btn btn-default" value='Add a Question' id='addBtn'>
                            <input type='button' class="btn btn-default" value='Remove Last Question' id='removeBtn'>
                            <input type='submit' class="btn btn-success" value='Create Quiz' id='getAllQues'>
                        </form>
                    </div>
                </div>
            </div>
        </div>






        <div class="col-sm-5">
            <div class="panel panel-default">

                <div class="container-fluid">
                    <table class="table table-striped table-condensed">

                        <thead>
                        <tr>
                            <th>Quiz</th>
                            <th>Created On</th>
                            <th>Evaluate</th>
                            <th>Results</th>
                            <th>Analytics</th>

                            <!--<th>Edit Quiz</th>-->
                            <!--<th>Delete Quiz</th>-->
                        </tr>
                        </thead>

                        <tbody>
                        <%var entries = JSON.parse(quizzes)%>
                        <% entries.forEach((entry)=> {%>
                        <tr>

                            <td><%= entry.quiz_name%></td>
                            <td><%=entry.timestamp%></td>
                            <td><a href="/evaluate/<%=entry._id%>"><span class="btn btn-primary btn-xs glyphicon glyphicon-check"></span></a></td>
                            <td><a href="/viewResults/quiz_id/<%=entry._id%>/"><span class="btn btn-default btn-xs glyphicon glyphicon-tasks"></span></a></td>
                            <td><a href="/analytics/quiz_id/<%=entry._id%>"><span class="btn btn-warning btn-xs glyphicon glyphicon-stats"></span></a></td>
                            <!--<td><a href="/delete/class/<%=entry.class_id%>/quiz_id/<%=entry._id%>" ><span class="btn btn-danger btn-xs glyphicon glyphicon-trash"></span></a></td>-->

                        </tr>
                        <%})%>
                        </tbody>

                    </table>

                </div>

            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>

    </body>
</html>