<html>
    <head>
            <% include partials/head.ejs %>

        <script>

            $(document).ready(function () {

                var discTempA = '<%= currDiscussionTemplateA%>';
                var discTempB = '<%= currDiscussionTemplateB%>';
                //console.log("ifChecked" + discTempA);
                if ( discTempA == 'Flat') {
                    $('#flatA').prop("checked", true);
                } else {
                    $('#nestedA').prop("checked", true);
                }
                if (discTempB == 'Flat') {
                    $('#flatB').prop("checked", true);
                } else {
                    $('#nestedB').prop("checked", true);
                }

                var ratingTempA = '<%= currRatingTemplateA%>';
                var ratingTempB = '<%= currRatingTemplateB%>';
                console.log("ifChecked" + ratingTempB);
                if ( ratingTempA == 'UPVOTE') {
                    $('#upA').prop("checked", true);
                } else {
                    $('#upDownA').prop("checked", true);
                }
                if (ratingTempB == 'UPVOTE') {
                    $('#upB').prop("checked", true);
                } else {
                    $('#upDownB').prop("checked", true);
                }


            });

        </script>



            <style>
                body { padding-top: 60px; padding-bottom: 30px; }
            </style>
    </head>
    <body>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Template Settings - Discussion Forum</b></div>
                    <div class="panel-body">
                        <%var entry = JSON.parse(class_details)%>

                            <div class="col-sm-6">
                                <div class="container-fluid">
                                <label>Set A</label>
                                    <form method="post" action="/classes/<%=entry._id%>/changeDiscussionTemplate">
                                        <div class="form-group">



                                        <p><label>Current Pattern:</label> <%=entry.template_A.template_discussion%> </p>
                                        <p></p><label>Select Template Pattern: </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="radioOpt1" id="flatA" value="Flat">Flat
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="radioOpt1" id="nestedA" value="Nested">Nested
                                        </label></p>
                                        <!--<input type="submit" class="btn btn-success pull-right" value="Change Pattern">-->

                                        </div>

                                    <!--</form>-->
                            </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="container-fluid">
                                <label>Set B</label>
                                    <!--<form method="post" action="/classes/<%=entry._id%>/changeDiscussionTemplate">-->
                                        <div class="form-group">
                                            <p><label>Current Pattern:</label> <%=entry.template_B.template_discussion%> </p>
                                            <p></p><label>Select Template Pattern: </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="radioOpt1b" id="flatB" value="Flat"   >Flat
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="radioOpt1b" id="nestedB" value="Nested">Nested
                                            </label></p>
                                            <input type="submit" class="btn btn-success pull-right" value="Change Pattern">
                                        </div>
                                    </form>
                                </div>
                            </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Template Settings - Rating System</b></div>
                    <div class="panel-body">
                        <%var entry = JSON.parse(class_details)%>

                            <div class="col-sm-6">
                                <div class="container-fluid">
                                <label>Set A</label>
                                    <form method="post" action="/classes/<%=entry._id%>/changeRatingTemplate">
                                        <div class="form-group">
                                            <%if(entry.template_A.template_rating == 'UPVOTE'){%>
                                            <%var temp = 'Upvote' ;%>
                                            <%}else{%>
                                            <%temp = 'Upvote and Downvote';%>
                                            <%}%>
                                            <p><label>Current Pattern:</label> <%=temp%> </p>
                                            <p></p><label>Select Template Pattern: </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="radioOpt2" id="upDownA" value="UPVOTE_DOWNVOTE" checked>UpVote and Downvote
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="radioOpt2" id="upA" value="UPVOTE">Upvote
                                            </label></p>
                                           <!-- <input type="submit" class="btn btn-success pull-right" value="Change Pattern">-->
                                        </div>
                                   <!-- </form>-->
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="container-fluid">
                                    <label>Set B</label>
                                    <!--<form method="post" action="/classes/<%=entry._id%>/changeRatingTemplate">-->
                                        <div class="form-group">
                                            <%if(entry.template_B.template_rating == 'UPVOTE'){%>
                                            <%var temp = 'Upvote' ;%>
                                            <%}else{%>
                                            <%temp = 'Upvote and Downvote';%>
                                            <%}%>
                                            <p><label>Current Pattern:</label> <%=temp%> </p>
                                            <p></p><label>Select Template Pattern: </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="radioOpt2b" id="upDownB" value="UPVOTE_DOWNVOTE" checked>UpVote and Downvote
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="radioOpt2b" id="upB" value="UPVOTE">Upvote
                                            </label></p>
                                            <input type="submit" class="btn btn-success pull-right" value="Change Pattern">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <a href="/classes">Back</a>
            </div>
        </div>
    </body>
</html>
